<h1>This is login page</h1>

<form action="/toDoApp/login" method="POST">
    Email : <input type="email" name="username">
    Password : <input type="password" name="password">
    <button type="submit">Submit</button>
</form>

<h4>New User</h4>
<a href="/toDoApp/signup"> Sign up </a>