<h1>This is signup page</h1>

<form action="/toDoApp/signup" method="POST">
    Name : <input type="text" name="name">
    Email : <input type="email" name="username">
    Password : <input type="password" name="password">
    <button type="submit">Submit</button>
</form>

<h4>Already a user?</h4>
<a href="/toDoApp/login"> Login </a>