.navbar-brand:hover{
    color: whitesmoke !important;
    background-color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.navbar{
   padding-top : 0px !important;
   padding-bottom : 0px !important;
   padding-left: 20px;
}

.navbar-brand{
   padding : 5px;
}
body{
   font-family: Roboto !important;
}
nav{
height: 47px;
display:inline-block;
}

#texts{
    color:black;
    padding-bottom: 9px;
    margin-top: 1px;
    padding-top: 3.5px;
}

.fa-palette{
    padding: 5px;
    padding-bottom: 7px;
    padding-top: 3px;
}